html {
  scroll-behavior: smooth;
  /* font-family: 'Aladin', cursive; */
  /* font-family: 'Libre Baskerville', serif; */
  font-family: "Montserrat", sans-serif;
}

:root {
  --grape: #94618e;
  --eggplant: #492741;
  --sand: #f4decb;
  --shell: #f8eee7;
  --biscuit: #f3e7d7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

/*************************
GENERIC
**************************/

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  /* line-height: 1.6; */
  color: var(--eggplant);
  background-color: var(--grape);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

p {
  line-height: 1.6;
}

/*************************
IMAGES
**************************/

#header-logo-img {
  width: 100px;
}

/* .cookie-rv-img-container {
} */

#cookie-std-img,
#cookie-rv-img {
  max-width: 300px;
}

#cookie-rv-img {
  display: none;
}

.roller-img {
  width: 30px;
  position: absolute;
  transform: rotate(145deg);
  left: -30px;
  top: 10px;
}

/**************************
location buttons
****************************/

.location-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

#prev-btn,
#next-btn {
  font-family: inherit;
  font-size: 3rem;
  color: var(--eggplant);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.location-btn,
.location-btn-inactive {
  background-color: var(--eggplant);
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 50%;
  margin: 0 0.5rem;
  opacity: 0.5;
  cursor: pointer;
}

.location-btn-active {
  opacity: 1;
}

/*************************
HAMBURGER MENU
**************************/
.hamburger-menu {
  z-index: 100;
}
#menu-toggle {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu-box {
  /* this should be left not right */
  right: 0 !important;
}
.menu-btn {
  /* should be fixed */
  position: fixed;
  top: 55px;
  right: 6%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--eggplant);
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: "";
  top: -12px;
}
.menu-btn > span::after {
  content: "";
  top: 12px;
}
.menu-box {
  display: block;
  /* should be fixed */
  position: fixed;
  top: 0;
  /* this should be left not right */
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 104px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu-item {
  display: block;
  padding: 12px 24px;
  color: var(--eggplant);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: var(--grape);
  color: var(--shell);
}

.fa-brands {
  font-size: 2rem;
  margin-right: 1em;
}

/*************************
TYPOGRAPHY
**************************/

.hero-heading {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--biscuit);
  margin-bottom: 2rem;
}

.heading-break {
  display: block;
}

#range-btn,
#story-btn {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--biscuit);
  padding: 0.5em 1em;
  border: 2px solid var(--biscuit);
  border-radius: 2px;
  /* margin-bottom: 2rem; */
  transition: all 0.25s ease;
}

#story-btn {
  border-color: var(--eggplant);
  color: var(--eggplant);
}

#story-btn:hover {
  border-color: var(--grape);
  color: var(--grape);
}

#range-btn:hover {
  border-color: var(--eggplant);
  color: var(--eggplant);
}

.article-heading {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.article-location-container .article-heading {
  margin-bottom: 1rem;
}

.article-about-content {
  margin-bottom: 1.5rem;
  max-width: 40ch;
  position: relative;
}

.map-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05em;
  margin: 0.5rem 0 0.25rem 0;
}

.article-address {
  max-width: 24ch;
}

.map-info-icon-container {
  margin-bottom: 1.5rem;
}

.map-info-icon-container .fa-solid {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.map-info-icon-container .fa-solid:nth-child(2) {
  margin-right: 0;
}

.article-open-hours-title {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.25rem;
}

.sign-up-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--biscuit);
  margin-bottom: 0.5rem;
}

.sign-up-content {
  max-width: 28ch;
  color: var(--biscuit);
  margin-bottom: 1rem;
}

#email-input-el {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.6;
  color: var(--eggplant);
  width: 28ch;
  padding: 0.5em;
  border: none;
  border-radius: 2px 0 0 2px;
}

#email-btn {
  width: 3rem;
  height: 2.60156rem;
  border: none;
  border-radius: 0 2px 2px 0;
  background-color: var(--biscuit);
  cursor: pointer;
  position: absolute;
}

.fa-play {
  font-size: 1.3rem;
  color: var(--eggplant);
  transition: 0.25s color ease;
}

#email-btn:hover .fa-play {
  color: var(--grape);
}

.footer-social-icon {
  color: var(--biscuit);
  transition: 0.25s color ease;
}

.footer-social-icon:hover {
  color: var(--grape);
}

/* sales.html Typography Styles */

.sales-title {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.article-address {
  margin-bottom: 0.5rem;
}

/* .seattleSales-container {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.salesList li {
  margin: 0.5em 0;
}

.salesList li:last-of-type {
  font-weight: 700;
} */

/*************************
LAYOUT
**************************/

header,
main,
footer {
  width: 100%;
}

.header-container,
.main-container,
.footer-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: var(--grape);
  padding: 1em 0;
  /* position: fixed; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
}

main {
  background-color: var(--grape);
  padding-bottom: 2rem;
  position: relative;
}

main::after {
  content: "";
  width: 100vw;
  height: 0;
  /* border-top: 25px solid transparent;
  border-right: 100vw solid var(--grape);
  border-bottom: 25px solid transparent;
  position: absolute;
  bottom: -25px; */
  border-top: 50px solid var(--grape);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  position: absolute;
  bottom: -50px;
}

.main-sales::after {
  content: "";
  width: 0;
  height: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  bottom: 0;
}

.main-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.content-container {
  text-align: center;
  margin-bottom: 3rem;
}

#article-about {
  min-height: 300px;
  /* background-color: var(--biscuit); */
  background-image: linear-gradient(180deg, var(--biscuit), var(--shell));
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.article-story-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin: 0 auto; */
}

#article-location {
  background-image: linear-gradient(180deg, var(--shell), var(--biscuit));
  width: 100%;
  padding-bottom: 4rem;
}

.article-location-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section-location,
.section-location-hidden {
  display: none;
}

.section-location-visible {
  display: flex;
  flex-direction: column-reverse;
}

.map-container {
  margin-bottom: 0.5rem;
}

.map {
  border-radius: 8px;
}

footer {
  background-color: var(--eggplant);
  padding: 3em 0;
  min-height: 200px;
}

.sign-up-email-container {
  position: relative;
}

/* Sales.html layout Styles */

.country-container {
  margin-bottom: 1em;
}

.sales-main-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

label,
input {
  margin-bottom: 1rem;
}

.form-container {
  margin-top: 3rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
}

#submit-btn {
  min-width: 200px;
  cursor: pointer;
}

/*************************
TABLE
**************************/

.table-container {
  overflow-x: scroll;
}

table th,
table td {
  padding: 0.5em;
  text-align: center;
  border: 1px solid var(--eggplant);
}

table th {
  font-weight: 700;
}

/*************************
MEDIA QUERIES
**************************/

@media (min-width: 740px) {
  /**** GENERIC ****/

  /**** IMAGES ****/

  .cookie-rv-img-container {
    width: 30%;
  }

  .cookie-std-img-container {
    width: 30%;
  }

  #cookie-rv-img {
    display: block;
    width: 100%;
  }

  #cookie-std-img {
    width: 100%;
  }

  /**** HAMBURGER MENU ****/

  /**** TYPOGRAPHY ****/

  /**** LAYOUT ****/

  .main-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .content-container {
    width: 30%;
  }

  .section-location {
    flex-direction: row-reverse;
    align-items: center;
  }

  .map-container {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  /**** TABLE ****/
}

@media (min-width: 900px) {
  /**** GENERIC ****/

  /**** IMAGES ****/

  /**** HAMBURGER MENU ****/

  .hamburger-menu {
    display: none;
  }

  .header-nav-list-item {
    display: inline-block;
    margin-left: 1rem;
  }

  /**** TYPOGRAPHY ****/

  .header-nav-link {
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: var(--eggplant);
    transition: 0.25s color ease;
  }

  .header-nav-link:hover {
    color: var(--biscuit);
  }

  .fa-user {
    margin-right: 0.3em;
  }

  /**** LAYOUT ****/

  .header-nav {
    display: block;
  }

  /**** TABLE ****/
}

/**** GENERIC ****/

/**** IMAGES ****/

/**** HAMBURGER MENU ****/

/**** TYPOGRAPHY ****/

/**** LAYOUT ****/

/**** TABLE ****/
